spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins:
                  - "http://localhost:5173"
                allowedMethods: [GET, POST, PUT, DELETE, OPTIONS]
                allowedHeaders: ["*"]
                allowCredentials: true

# 서비스 주소 (dev)
USER_SERVICE: http://localhost:8080
SOCIAL_SERVICE: http://localhost:8083
DIARY_SERVICE: http://localhost:8087

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
    urls:
      - url: /api/users/v3/api-docs
        name: user-service
      - url: /api/social/v3/api-docs
        name: social-service
      - url: /api/diaries/v3/api-docs
        name: diary-service