server:
  port: 8000

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      server:
        webflux:
          # 공통 필터 설정
          default-filters:
            - name: GlobalFilter
              args:
                baseMessage: Spring Cloud Gateway WebFlux GlobalFilter
                preLogger: true
                postLogger: true

          # 라우팅 설정 (구조는 공통)
          routes:
            # --- Swagger ---
            - id: user-service-docs
              uri: ${USER_SERVICE}
              predicates:
                - Path=/api/users/v3/api-docs

            - id: social-service-docs
              uri: ${SOCIAL_SERVICE}
              predicates:
                - Path=/api/social/v3/api-docs
              filters:
                - SetPath=/v3/api-docs

            - id: diary-service-docs
              uri: ${DIARY_SERVICE}
              predicates:
                - Path=/api/diaries/v3/api-docs

            # --- User Service (NO AUTH) ---
            - id: debug-signup
              uri: ${USER_SERVICE}
              predicates:
                - Path=/api/users/signup

            - id: user-service-login
              uri: ${USER_SERVICE}
              predicates:
                - Path=/api/users/login
#                - Method=POST

            - id: user-service-signup
              uri: ${USER_SERVICE}
              predicates:
                - Path=/api/users/signup
#                - Method=POST

            # --- User Service (AUTH) ---
            - id: user-service
              uri: ${USER_SERVICE}
              predicates:
                - Path=/api/users/**, /api/pets/**, /api/archives/**, /api/images/**
              filters:
                - AuthorizationHeaderFilter

            # --- Social Service ---
            - id: social-service
              uri: ${SOCIAL_SERVICE}
              predicates:
                - Path=/api/feeds/**, /api/comments/**, /api/follows/**, /api/messages/**
              filters:
                - AuthorizationHeaderFilter

            # --- Diary Service ---
            - id: diary-service
              uri: ${DIARY_SERVICE}
              predicates:
                - Path=/api/diaries/**, /api/recaps/**, /api/diary-queries/**, /api/v1/diary/styles/**
              filters:
                - AuthorizationHeaderFilter

# JWT 정책 (값은 환경변수)
token:
  expiration_time: ${TOKEN_EXPIRATION_TIME}
  secret: ${TOKEN_SECRET}