server:
  port: "${PORT}"
---
spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      server:
        webflux:
          #spring cloud gateway 공통 filter
          default-filters:
            - name: GlobalFilter
              args:
                baseMessage: Spring Cloud Gateway WebFlux GlobalFilter
                preLogger: true
                postLogger: true
          #라우팅하는 서비스들
          routes:
            #User Swagger
            - id: user-service-docs
              uri: "${USER_SERVICE}"
              predicates:
                - Path=/api/users/v3/api-docs

            # Social Swagger (Diary 대체)
            - id: social-service-docs
              uri: "${SOCIAL_SERVICE}"
              predicates:
                - Path=/api/social/v3/api-docs
              filters:
                - SetPath=/v3/api-docs  # 경로를 강제로 /v3/api-docs로 고정

            # User Service
            - id: user-service
              uri: "${USER_SERVICE}"
              predicates:
                - Path=/api/users/login
                - Method=POST
            - id: user-service
              uri: "${USER_SERVICE}"
              predicates:
                - Path=/api/users/create
                - Method=POST
            - id: user-service
              uri: "${USER_SERVICE}"
              predicates:
                - Path=/api/users/**, /api/pets/**, /api/archives/**
              #JWT 검증을 위한 Custom GatewayFilter
#              filters:
#                - AuthorizationHeaderFilter
            - id: pet-service
              uri: "${USER_SERVICE}"
              predicates:
                - Path=/api/pets/**, /api/images/**

            # Social Service 라우팅 부분 확인
            - id: social-service
              uri: "${SOCIAL_SERVICE}"
              predicates:
                # ✅ Path에 /api/follows/** 가 반드시 있어야 함!
                - Path=/api/feeds/**, /api/comments/**, /api/follows/**
#              filters:
#                - AuthorizationHeaderFilter

token:
  expiration_time: "${TOKEN_EXPIRATION_TIME}"
  secret: "${TOKEN_SECRET}"

springdoc:
  swagger-ui:
    #Swagger UI의 엔드포인트: http://###/swagger-ui/index.html
    path: /swagger-ui/index.html
    #마이크로서비스들의 OpenAPI 문서를 가져와 통합된 Swagger UI 페이지에 보여줌
    urls:
      - url: "${USER_SWAGGER}"
        name: user-service
      # Social Service Swagger 정보
      - url: "${SOCIAL_SWAGGER}"
        name: social-service